<div class="max-w-xl mx-auto">
  <div class="text-center">
    <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">
      feed your email
    </h2>
    <p class="mt-1 text-3xl tracking-tight font-extrabold text-gray-900 sm:text-5xl lg:text-6xl">
      Send newsletters to your feed reader.
    </p>
    <p class="mt-1 text-md text-gray-500">
      Generate an email address you can use for any newsletter, and a corresponding feed you can use to read those emails.
    </p>
  </div>
  <div class="max-w-md mt-5 mx-auto text-xl text-gray-500">
    <%= form_with(model: @feed) do |form| %>
      <div class="mt-6 max-w-xs mx-auto">
        <%= form.label :name, "Feed name (optional)", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex">
          <%= form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
        <div class="mt-4 flex justify-center">
          <%= form.submit "Create feed", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
