<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
  <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">
    free your inbox
  </h2>
  <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
    Your feed is ready.
  </p>

  <%= render @feed %>
</div>

<%= turbo_stream_from @feed %>
