<p>
  It has been more than one month since this feed was last checked, so it has expired. New emails sent to the address <%= mail_to [@feed.token, request.host].join("@") %> will be rejected. Please <%= link_to "create a new feed", root_url %> if you want to continue converting emails into feeds.
</p>

<p>
  If you're interested in a paid feed that doesn't have to be checked every month, drop me a line at <%= mail_to "andre@arko.net" %> so we can work something out.
</p>
