<p>
  This feed has recieved more than 14 emails in the last week. Our free infrastructure is only able to support 14 emails in any 7 day period, so additional emails to this feed will be rejected until there are less than 14 emails in the most recent 7 days.
</p>
<p>
  If you're interested in a paid feed that supports more emails, drop me a line at <%= mail_to "andre@arko.net" %> so we can work something out.
</p>
