<% content_for :page_title, @feed.name %>
<% content_for :page_favicon, @feed.favicon_url %>

<div class="mx-auto max-w-xl">
  <p class="text-center my-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
    <%= @feed.name %>
  </p>

  <ul id="posts" role="list" class="divide-y divide-gray-200 mt-8 bg-white shadow sm:rounded-md">
    <%= render @posts %>
  </ul>
</div>

<%= turbo_stream_from @feed, :posts %>
